{% ckan_extends %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-gov_type">{{ _("Nivel de Gobierno") }}</label>
    <div class="controls">
      <select id="field-gov_type" name="gov_type" data-module="autocomplete">
        {% for gov_type in h.gov_types()  %}
          <option value="{{ gov_type }}" {% if gov_type in data.get('gov_type', []) %}selected="selected"{% endif %}>{{ gov_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}
