{% ckan_extends %}

{% block actions_content %}
   <li> <a href="https://www.data.gov/issue/?media_url={{g.site_url}}{{ h.url_for(controller='package', action='read', id=pkg.name) }}" class="btn btn-info"> <i class="icon-bullhorn"></i> Reportar incidente en los datos</a> </li>
  {# NOTE: Not implemented in stage 1 #}
  {# <li>{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn', icon='undo' %}</li> #}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}</li>
  {% endif %}
  <li>{{ h.follow_button('dataset', pkg.id) }}</li>
{% endblock %}